<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ✅ 네트워크 사용 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- (선택) 네트워크 상태 확인이 필요할 때만 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hansunghub">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ReservationActivity"
            android:exported="false" />
        <activity
            android:name=".login.WebViewLoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Hansunghub">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 필요하면 LoginActivity는 지워도 됩니다 -->
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />

</application>
    <!--
    <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Hansunghub">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity
        android:name=".ReservationActivity"
        android:exported="false" />
    <activity
        android:name=".login.LoginActivity"
        android:exported="false" />


    -->
    <!-- 예약 화면: 런처가 아니므로 exported 지정 안 해도 OK(기본 false) -->
</manifest>

